* {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-family: Arial;
    color: rgb(221, 221, 221);
    background: none;
    /* background: rgb(100, 61, 140);
background: radial-gradient(circle closest-corner at 50% 25%, rgba(100, 61, 140, 1) 0%, rgba(115, 38, 88, 1) 100%); */
}
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgb(100, 61, 140);
    background: radial-gradient(circle closest-corner at 50% 25%, rgb(100, 61, 140) 0%, rgb(115, 38, 88) 100%);
    background-attachment: fixed;
}

/* player.tsx */
#player {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player > * {
    flex: 1;
}

/* #player * {
    overflow: hidden;
} */
#error-modal {
    position: absolute;
    top: 80px;
    margin: auto;
    z-index: 3;
    background-color: rgb(37, 37, 37);
    color: rgb(212, 3, 3);
}
#header {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    height: 34px;
    overflow: visible;
    margin-bottom: 2px;
    width: 100vw;
}
#logout-container {
    justify-self: start;
    overflow: visible;
    text-decoration: none;
    font-size: 14px;
    min-width: 75px;
}
#logout-container > button {
    overflow: visible;
    padding: 4px;
}

#current-playlist-container {
    width: 100%;
    align-self: center;
    overflow: visible;
    cursor: pointer;
    display: flex;
    height: 28px;
    margin-right: auto;
    margin-left: 5px;
}

#current-playlist-container > p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none !important;
    font-size: 18px;
}
#current-playlist-container > img {
    height: 28px;
    margin-right: 5px;
}
#album-art {
    box-shadow: 0 0 4px 2px rgb(21, 0, 21);
    aspect-ratio: 1/1;
    text-align: center;
    max-width: 95vw;
    max-height: 95vw;
    flex: 1 1 auto;
    /* flex-grow: 2; */
    /* flex-shrink: 2;
    flex-basis: auto; */
}
#song-info {
    width: 85vw;
    text-align: left;
    display: flex;
    flex-direction: column;
}
#song-name {
    font-size: 0.6em;
    font-weight: bold;
}
#artist-name {
    font-size: 0.48em;
}
.btn {
    padding: 5px;
    margin: 5px auto;
    background-color: white;
    color: black;
}
#skip-container {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
#skip-container > button {
    flex: 2 0 32%;
    /* max-width: 32%;
    height: 100%;
    width: 100%; */

    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}
#skip-container > button > svg {
    border-radius: 50%;
    /* background: normal; */
    background: white;
}

.skip-btn {
    margin: 5px;
    padding: 5px;
}
#prev-btn {
    margin-left: 0;
}
#skip-btn {
    margin-right: 0;
}

#skip-info {
    display: flex;
    align-self: flex-end;
    align-items: center;
    height: 36px;
}
#next-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#next-song-name {
    font-size: 0.8rem;
}
#next-song-artist {
    font-size: 0.7rem;
}
#next-song-cover {
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
    margin-left: 2px;
    object-fit: contain;
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
}
.range {
    max-width: 100vw;
}
#seek {
    margin: 8px;
    width: 95vw;
}

#seek-number-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.5em;
    width: 90vw;
}
.seek-number {
    margin-top: -3px;
    font-size: 0.8rem;
}

#remove-container {
    margin: 15px;
    margin-top: auto;
    background: rgb(48, 74, 70);
    background: linear-gradient(0deg, rgb(48, 74, 70) 0%, rgb(38, 94, 115) 100%);
    font-size: 1.3rem;
    border-radius: 10px;
}
#remove-container > button {
    padding: 12px 5px;
    border: none;
}
@media only screen and (max-width: 600px) {
    /* phones dont need volume because they use native buttons */
    #volume-container {
        display: none;
    }
    #playlists-container {
        overflow-x: hidden !important;
    }
    #player {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* playlists.tsx */
#playlists-container {
    /* background: linear-gradient( rgba(100, 61, 140, 1) 0%, rgba(115, 38, 88, 1) 50%, rgba(100, 61, 140, 1) 100%); */
    background: repeating-linear-gradient(0deg, #573777, #732658, #573777 50%);
    overflow: visible;
    overflow-x: hidden !important;
}

#playlists-logout-container {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2px;
}
#playlists-logout-btn {
    cursor: inherit;
    padding: 3px;
}

#playlist-search {
    font-size: 24px;
    text-overflow: ellipsis;
    width: calc(100vw - 2 * 5px);
    margin: 5px;
    padding: 5px;
}

#playlists-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 12px;
}
.playlist-item {
    cursor: pointer;
    border-top: rgb(143, 78, 129) solid 2px;
    display: flex;
    flex-direction: row;
    margin: 2px;
    width: 100vw;
}

.playlist-item > h5 {
    margin: auto 5px;
    align-self: center;
    text-overflow: ellipsis;
    flex: 0 10 100%;
}

.playlist-item > img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.playlist-save-container {
    aspect-ratio: 1/1;
    align-self: center;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 15px 5px 5px;
}
/* force to click  to parent div always */
.playlist-save-container > * {
    pointer-events: none;
}
