#player {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#current-playlist-container {
    cursor: pointer;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
    margin-bottom: 10px;
}

#album-art {
    text-align: center;
    max-width: 85%;
}
.btn {
    padding: 5px;
    margin: 5px auto;
    width: 90%;
    background-color: white;
    color: black;
}
#song-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 85%;
}
#song-name {
    font-size: 0.6em;
    font-weight: bold;
}
#artist-name {
    font-size: 0.48em;
}

#skip-container {
    display: flex;
    flex-direction: column;
    margin: auto 0.1em;
}
#skip-button-container {
    display: flex;
}
#skip-button-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
}

.skip-btn {
    margin: 5px;
    padding: 5px;
}
#prev-btn {
    margin-left: 0;
}
#skip-btn {
    margin-right: 0;
}

#skip-info {
    display: flex;
    align-self: flex-end;
    align-items: center;
}
#next-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#next-song-name {
    font-size: 1rem;
}
#next-song-artist {
    font-size: 0.9rem;
}
#next-song-cover {
    margin-left: 2px;
    width: 1.9rem;
}

.range-container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.range {
    max-width: 95%;
}
#seek-number-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.5em;
}

#remove-container {
    background: rgb(48, 74, 70);
    background: linear-gradient(0deg, rgba(48, 74, 70, 1) 0%, rgba(38, 94, 115, 1) 100%);
    font-size: 1.3rem;
    justify-self: flex-end;
    border-radius: 10px;
    max-width: 95%;
}
#remove-container > button {
    padding: 5px;
    border: none;
}
